@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("/app/fonts/HelveticaNeue-Bold.woff") format("woff"),
    url("/app/fonts/HelveticaNeue-Bold.otf") format("opentype"),
    url("/app/fonts/HelveticaNeue-Bold.ttf") format("truetype"),
    url("/app/fonts/HelveticaNeue-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("/app/fonts/HelveticaNeue-Light.woff") format("woff"),
    url("/app/fonts/HelveticaNeue-Light.otf") format("opentype"),
    url("/app/fonts/HelveticaNeue-Light.ttf") format("truetype"),
    url("/app/fonts/HelveticaNeue-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("/app/fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("/app/fonts/HelveticaNeue-Medium.otf") format("opentype"),
    url("/app/fonts/HelveticaNeue-Medium.ttf") format("truetype"),
    url("/app/fonts/HelveticaNeue-Medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue-Roman";
    src: url("/app/fonts/HelveticaNeue-Roman.woff") format("woff"),
    url("/app/fonts/HelveticaNeue-Roman.otf") format("opentype"),
    url("/app/fonts/HelveticaNeue-Roman.ttf") format("truetype"),
    url("/app/fonts/HelveticaNeue-Roman.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
