body,div,p,input,button,a,span{
    margin: 0;
    padding: 0;
}
*{vertical-align: top;}


/* **** TOP MENU begin *** */
.top_menu{
    position: fixed;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #eeeeee;
    background: #ffffff;
    z-index: 9999;
}
.login_button{
    padding: 20px 90px;
    display: inline-block;
}
#logout_button{
    font-family: "HelveticaNeue-Bold";
    font-size: 13px;
    position: fixed;
    top: 15px;
    right: 30px;
    background: #0275d8;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    padding: 7px 16px;
    cursor: pointer;
}
#my_name{
    font-family: "HelveticaNeue-Bold";
    font-size: 16px;
    font-weight: bold;
}
/* **** TOP MENU end *** */




/* **** RIGHT MENU begin *** */
.right_menu{
    position: fixed;
    right: 0;
    top: 60px;
    height: 100%;
    width: 460px;
    background: #fafafa;
    border-left: 1px solid #eeeeee;
    z-index: 99999;
}
.right_title{
    font-family: "HelveticaNeue-Bold";
    font-size: 14px;
    color: #333;
    margin-top: 100px;
    margin-left: 30px;
}
.nationalities{
    margin-left: 28px;
    margin-top: 30px;
}
.nationality{
    display: block;
    margin-bottom: 20px;
}
.nation_place{
    display: inline-block;
    font-family: "HelveticaNeue-Bold";
    font-size: 14px;
    color: #333;
    background: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #eff0f1;
    margin-right: 20px;
}
.nation_info{
    display: inline-block;
    padding-bottom: 14px;
    border-bottom:  1px solid #eeeeee;
    width: 340px;
}
.nation_name{
    display: block;
    font-family: "HelveticaNeue-Roman";
    font-size: 16px;
    color: #333;
}
.nation_indicator{
    display: block;
}
.progressbars{
    position: relative;
    margin-top: 13px;
    height: 20px;
    border: none;
    /*background: red;*/
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.15);
}
/* **** RIGHT MENU end *** */




/* **** TOP FILTER begin *** */
.top_filter{
    margin-left: 90px;
    padding-top: 140px;
    margin-right: 460px;
}
.age_slider{
    display: inline-block;
    width: 56%;
    min-width: 400px;
}
.filter_name{
    display: inline-block;
    font-family: "HelveticaNeue-Roman";
    font-size: 14px;
    color: #333;
    margin-right: 30px;
}

    /* *** SLIDER begin *** */
    /* Настройка блока с ползунком.*/
    .slider {
        display: inline-block;
        width:50%;
        height:6px;
        /*background:url(slider-bg.png); *//* Фон ползунка.*/
        background: #ececec; /* Фон ползунка.*/
        border: none;
        position:relative;
        margin:0;
        padding:0;
    }
    .slider a{
        border-radius: 50%;
        height: 14px !important;
        width: 14px !important;
        background: #f6f6f6;
        box-shadow: 0 1px 1px rgba(0,0,0,0.8); /* Параметры тени */
    }
    /* Сам ползунок*/
    .ui-slider-handle {
        width:24px;
        height:24px;
        position:absolute;
        top:-7px;
        margin-left:-12px;
        z-index:200;
        /*background:url(slider-button.png);*/

    }

    .handles{
        font-family: "HelveticaNeue-Light";
        font-size: 20px;
        background: grey;
        position: absolute;
        top: -42px;
        left: -18px;

        border-radius: 5px;
        padding: 4px 14px;

        color: #ffffff;
    }
    .handles::before, .handles::after {
        content: '';
        position: absolute;
        left: 19px;
        bottom: -14px;
        border: 6px solid transparent;
        border-top: 12px solid grey;
    }
    .handles::after {
        /*border-top: 8px solid grey;*/
        /*bottom: -19px;*/
    }

    #slider-min{


    }
    /* Фон ползунка при перемещении.*/
    .ui-widget-header {
        background: #63cfc6;
        height:8px;
        left:1px;
        top:1px;
    }
    .ui-state-hover{
        border: 0;
        background: #dcdcdc;
        cursor: pointer;
    }
    .ui-state-focus{
        border: 0;
        outline: 0;
    }
    /* *** SLIDER end *** */


.gender_filter{
    display: inline-block;
    width: 43%;
    min-width: 400px;
}
    /* *** GENDER BUTTONS begin *** */
    #format{
        font-family: "HelveticaNeue-Roman";
        font-size: 13px;

        display: inline-block;
        position: relative;
        top: -10px;
    }
    .ui-button{
        width: 140px;
        padding: 4px 0;

        /*box-shadow: 0 0 10px rgba(0,0,0,0.5); *//* Параметры тени */
    }
    .ui-button-text-only {
        border: none;
        background: #ececec;
        font-weight: 400;
        color: #717276;
    }
    .ui-state-active{
        border: none;
        background: #63cfc6;
        font-weight: 400;
        color: #ffffff
    }
    /* *** GENDER BUTTONS begin end *** */



/* **** TOP FILTER end *** */




/* *** FRIENDS begin *** */
.friends_show{
    display: none;
}
#my_friends_container{
    padding-top: 94px;
    /*margin-top: 94px;*/
    margin-right: 461px;
    display: none;

    overflow-y: scroll;
}
.friend_block{
    min-width: 970px;
    display: inline-block;
    padding-left: 90px;
}
.friend_block:hover{
    background: #fafafa;
}
.avatar_block{
    display: inline-block;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 32px 38px 32px 0;
}
.info_block{
    display: inline-block;
    width: 830px;
    height: 164px;
    padding-top: 42px;
    box-sizing: border-box;
    border-bottom: 1px solid #eeeeee;
}
.name{
    font-family: "HelveticaNeue-Bold";
    font-style: normal;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    font-size: 20px;
}
.name:hover{
    text-decoration: none;
}
.study{
    font-family: "HelveticaNeue-Roman";
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 18px;
    color: #333;
}
.common_friends{
    font-family: "HelveticaNeue-Roman";
    font-size: 16px;
    color: #63cfc6;
}
/* *** FRIENDS end *** */







.get_users{
    cursor: pointer;
    padding-left: 10px;
    width: 180px;
    line-height: 26px;
    height: 26px;
    background: #000000;
    color: #ffffff;
    border-radius: 4px;
}